@model CodingChallenge.Models.UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row" style="margin-top: 5% !important;">
        <div class="col-7">
            <fieldset class="form-group">
                <select asp-items="Model.Users" id="selectUserInformation" class="form-control"></select>
            </fieldset>
        </div>
        <div class="col-1">
            <fieldset class="form-group">
                <button class="btn btn-primary" id="btnShowProjectByUser">Filter</button>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="panelChart3" class="panel">
                <div collapse="panelChart3" class="panel-wrapper" style="height: 50%;">
                    <div class="panel-body">
                        <table class="table table table-striped table-hover" id="tableUserProject">
                            <thead>
                                <tr>
                                    <th width="25%">Project Id</th>
                                    <th width="25%">Start Date</th>
                                    <th width="25%">Time To Start</th>
                                    <th width="25%">End Date</th>
                                    <th width="25%">Credits</th>
                                    <th width="25%">Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/script/list.js" asp-append-version="true"></script>
}
